<div class="codix-app">
    <mat-toolbar
        class="codix-app__toolbar"
        [ngClass]="{ 'codix-app__toolbar--center': !accountService.loginUser }"
    >
        <img
            class="codix-app__logo"
            src="assets/images/codix.png"
            routerLink="/"
        />

        <div *ngIf="accountService.loginUser">
            <button
                mat-icon-button
                title="My Profile"
                class="example-icon"
                aria-label="Example icon-button with share icon"
                routerLink="/user/my-profile"
            >
                <mat-icon>face</mat-icon>
            </button>

            <button
                mat-icon-button
                class="example-icon"
                aria-label="Example icon-button with share icon"
                title="Logout"
                (click)="logout()"
            >
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="codix-app__container">
        <router-outlet></router-outlet>
    </div>
</div>
