.codix-app {
    &__toolbar {
        display: flex;
        justify-content: space-between;

        &--center {
            justify-content: center;
        }
    }

    &__logo {
        height: 30px;
        cursor: pointer;
    }

    &__container {
        margin-top: 50px;
    }
}
